.footer{
    margin-bottom: 49px;
}

.footer_container{
    width: 1060px;
    margin: 0 auto;
}

.footer_menu{
    font-family: Roboto;
    font-size: 14px;
    display: inline;
    letter-spacing: 0.42px;
}

.footer_sun{
    vertical-align: middle;
}

.footer_willow{
    font-family: Roboto;
    font-size: 24px;
    letter-spacing: 1px;
    color: #333333;
    margin: 0px 435px 0px 12px;
}

.footer_menu_li{
    margin-right: 34px;
    color: #1C3F3A;
}

.under_footer{
    background-color: #F1F3F3;
    padding: 25px 0px 25px 0px;
    margin: 0 auto;
}


.under_footer_menu_li{
    margin-right: 57px;
    color: #1C3F3A;
    vertical-align: middle;
    display: inline;
}

.under_footer_webflow{
    color: #26534C;
    margin-right: 401px;
    font-family: Inter;
    font-size: 12px;
    letter-spacing: 0.42px;

}

.under_footer_flowbase{
    color: #26534C;
    font-family: Inter;
    font-size: 12px;
    letter-spacing: 0.42px;
}

.under_footer_template{
    font-family: Inter;
    font-size: 13px;
    letter-spacing: 0.42px;
}

.under_footer_powered{
    font-family: Inter;
    font-size: 13px;
    letter-spacing: 0.42px;
}

.under_footer_menu_li{
    font-family: Roboto;
    font-size: 13px;
    letter-spacing: 0.42px;
}

