.footer_container{
    width: 1043px;
    margin: 0 auto;
    padding: 10px 0px 0px 55px;
    position: center;
}

.footer_footer{
    height: 138px;
    padding-top: 49px;
}

.footer_Flowbase{
    height: 89px;
    background-color: #F1F3F3;
}

.footer_menu{
    list-style: none;
    font-family: Roboto;
    font-size: 14px;
    display: inline;
    letter-spacing: 0.42px;
    text-align: center;
    line-height: 24px;
    padding-top: 57px;
}

.footer_pulse{
    vertical-align: middle;
    float: left;
    margin: 49px 12px 0px 0px;
}

.footer_willow{
    float: left;
    font-family: Roboto;
    font-size: 24px;
    color: #333333;
    margin: 53px 0px 0px 0px;
}

.footer_menu li {
    display: inline;
    margin-left: 34px;
}

.footer_list{
    width: 600px;
    margin: 57px 0px 0px 485px;
}

.footer_li{
    color: #1C3F3A;
}

.footer_by{
    margin: 25px 0px 0px 0px;
    color: #102226;
}

.footer_href{
    color: #26534C;
}

.footer_Flowbase_list li {
    display: inline;
    margin-left: 57px;
}

.footer_Flowbase_list{
    width: 600px;
    margin: 0px 0px 0px 332px;

    list-style: none;
    font-family: Roboto;
    font-size: 14px;
    display: inline;
    letter-spacing: 0.42px;
    text-align: center;
    line-height: 24px;
    padding-top: 57px;
}